# SO / R
.DS_Store
.Rapp.history
.Rhistory
.Rproj.user/

# Datos y resultados pesados
reads/
raw/
refs/
db/
hits/
index/
idx/
logs/
quants/
quant/
sra_cache/
tmp/
SRR*/
*.log

# Ficheros bioinformáticos grandes
*.fa
*.fa.gz
*.fasta
*.fasta.gz
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.bai
*.sam
*.gff*
*.gtf
*.bed
*.pep
*.cds
*.faa
*.fna
*.tsv.gz

# Cosas temporales
*.swp
*.tmp
